<div class="ion-page" id="main-content1">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Notas</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">


        <ion-list>
            <ion-item>
                <ion-grid>
                    <ion-row>

                        <ion-col size="3">
                            Materia:
                        </ion-col>

                        <ion-col size="6">
                            {{materia.nombreMateria}}
                        </ion-col>

                    </ion-row>
                </ion-grid>
            </ion-item>

            <ion-item>
                <ion-grid>
                    <ion-row>

                        <ion-col size="4">

                            Semestre:
                        </ion-col>

                        <ion-col size="3">
                            {{materia.semestreMat}}

                        </ion-col>

                    </ion-row>
                </ion-grid>
            </ion-item>

            <ion-item>
                <ion-grid>
                    <ion-row>

                        <ion-col size="4">

                            Nota General:
                        </ion-col>

                        <ion-col size="3" *ngIf="promedioTotal < 3" style="background-color: red;">
                            {{promedioTotal.toFixed(2)}}
                        </ion-col>
                        <ion-col size="3" *ngIf="promedioTotal >= 3" style="background-color:green;">
                            {{promedioTotal.toFixed(2)}}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>

            <ion-item>
                <ion-grid>
                    <ion-row>

                        <ion-col size="5">

                            Observaciones:
                        </ion-col>

                        <ion-col size="5">
                            {{materia.observacionesMateria}}

                        </ion-col>

                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item>
                <ion-grid>
                    <ion-row>

                        <ion-col size="5">

                            Horario:
                        </ion-col>

                        <ion-col size="5">
                            {{materia.horarioMateria}}

                        </ion-col>

                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>

        <ion-accordion-group [multiple]="true" expand="inset">
            <ion-accordion value="first">
                <ion-item slot="header" color="light">
                    <ion-label>Notas primer 20%</ion-label>
                </ion-item>
                <ion-item slot="content">
                    <ion-grid>
                        <ion-row>

                            <ion-col style="text-align: center;" size="4">
                                Fecha Entrega

                            </ion-col>

                            <ion-col style="text-align: center;" size="4">
                                Nota
                            </ion-col>

                            <ion-col style="text-align: center;" size="4">
                                acciones
                            </ion-col>

                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-list slot="content" *ngFor="let nPve of notasPve;index as i">

                    <ion-item *ngIf="nPve.id == id">
                        <ion-grid>
                            <ion-row>

                                <ion-col size="4">
                                    {{nPve.fechaEntrega}}

                                </ion-col>

                                <ion-col  style="text-align: center;" size="4">
                                 {{nPve.notaPve.toFixed(2)}}
                                </ion-col>
                      

                                <ion-col size="4">

                                    <ion-buttons style="display: flex; flex-direction: row;">

                                        <ion-button (click)="editNote(i,1)"><ion-icon style="width: 30px; height: 30px;"
                                                name="create-outline" id="open-edit-modal" ></ion-icon></ion-button>
                                        <ion-button (click)="eliminar(i,1)"><ion-icon style="color:red; width: 30px; height: 30px;"
                                                name="trash-outline"></ion-icon></ion-button>

                                    </ion-buttons>

                                </ion-col>

                            </ion-row>
                            <ion-row class="description-row">
                                <ion-row>
                                    <ion-col size="12">
                                        descripcion:
                                    </ion-col>
                                </ion-row>
                                <ion-col size="12">
                                    <div class="description-container">
                                        <p class="full-description">{{nPve.descripcionNota}}</p>
                                    </div>
                                </ion-col>

                            </ion-row>
                        </ion-grid>
                    </ion-item>

                </ion-list>


                <ion-buttons slot="content"
                    style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
                    <div>Nota : {{promedioPve.toFixed(2)}}</div>
                    <ion-button (click)="addNote(1)" fill="solid" color="medium">añadir nota</ion-button>
                </ion-buttons>

            </ion-accordion>
            <ion-accordion value="second">
                <ion-item slot="header" color="light">
                    <ion-label>Nota Segundo 20%</ion-label>
                </ion-item>
                <ion-item slot="content">
                    <ion-grid>
                        <ion-row>

                            <ion-col style="text-align: center;" size="4">
                                Fecha Entrega

                            </ion-col>

                            <ion-col style="text-align: center;" size="4">
                                Nota
                            </ion-col>

                            <ion-col style="text-align: center;" size="4">
                                acciones
                            </ion-col>

                        </ion-row>
                    </ion-grid>
                </ion-item>

                <ion-list slot="content" *ngFor="let nSve of notasSve;index as i">

                    <ion-item *ngIf="nSve.id == id">
                        <ion-grid>
                            <ion-row>

                                <ion-col size="4">
                                    {{nSve.fechaEntrega}}

                                </ion-col>

                                <ion-col  style="text-align: center;" size="4">
                                    {{nSve.notaSve.toFixed(2)}}
                                </ion-col>
                              
                                <ion-col size="4">

                                    <ion-buttons style="display: flex; flex-direction: row;">

                                        <ion-button (click)="editNote(i,2)"><ion-icon style="width: 30px; height: 30px;"
                                            name="create-outline" id="open-edit-modal" ></ion-icon></ion-button>
                                    <ion-button (click)="eliminar(i,2)"><ion-icon style="color:red; width: 30px; height: 30px;"
                                            name="trash-outline"></ion-icon></ion-button>


                                    </ion-buttons>

                                </ion-col>

                            </ion-row>
                            <ion-row class="description-row">
                                <ion-row>
                                    <ion-col size="12">
                                        descripcion:
                                    </ion-col>
                                </ion-row>
                                <ion-col size="12">
                                    <div class="description-container">
                                        <p class="full-description">{{nSve.descripcionNota}}</p>
                                    </div>
                                </ion-col>

                            </ion-row>
                        </ion-grid>
                    </ion-item>

                </ion-list>


                <ion-buttons slot="content"
                    style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
                    <div>Nota : {{promedioSve}}</div>
                    <ion-button (click)="addNote(2)" fill="solid" color="medium">añadir nota</ion-button>
                </ion-buttons>


            </ion-accordion>
            <ion-accordion value="third">
                <ion-item slot="header" color="light">
                    <ion-label>Notas Tercer 20%</ion-label>
                </ion-item>
                <ion-item slot="content">
                    <ion-grid>
                        <ion-row>

                            <ion-col style="text-align: center;" size="4">
                                Fecha Entrega

                            </ion-col>

                            <ion-col style="text-align: center;" size="4">
                                Nota
                            </ion-col>

                            <ion-col style="text-align: center;" size="4">
                                acciones
                            </ion-col>

                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-list slot="content" *ngFor="let nTve of notasTve;index as i">

                    <ion-item *ngIf="nTve.id == id">
                        <ion-grid>
                            <ion-row>

                                <ion-col size="4">
                                    {{nTve.fechaEntrega}}

                                </ion-col>

                                <ion-col style="text-align: center;" size="4">
                                    {{nTve.notaTve.toFixed(2)}}
                                </ion-col>
                             
                                <ion-col size="4">

                                    <ion-buttons style="display: flex; flex-direction: row;">

                                        <ion-button (click)="editNote(i,3)"><ion-icon style="width: 30px; height: 30px;"
                                            name="create-outline" id="open-edit-modal" ></ion-icon></ion-button>
                                    <ion-button (click)="eliminar(i,3)"><ion-icon style="color:red; width: 30px; height: 30px;"
                                            name="trash-outline"></ion-icon></ion-button>


                                    </ion-buttons>

                                </ion-col>

                            </ion-row>
                            <ion-row class="description-row">
                                <ion-row>
                                    <ion-col size="12">
                                        descripcion:
                                    </ion-col>
                                </ion-row>
                                <ion-col size="12">
                                    <div class="description-container">
                                        <p class="full-description">{{nTve.descripcionNota}}</p>
                                    </div>
                                </ion-col>

                            </ion-row>
                        </ion-grid>
                    </ion-item>

                </ion-list>

                <ion-buttons slot="content"
                    style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
                    <div>Nota : {{promedioTve}}</div>
                    <ion-button (click)="addNote(3)" fill="solid" color="medium">añadir nota</ion-button>
                </ion-buttons>


            </ion-accordion>
            <ion-accordion value="four">
                <ion-item slot="header" color="light">
                    <ion-label>Nota 40%</ion-label>
                </ion-item>
                <ion-item slot="content">
                    <ion-grid>
                        <ion-row>

                            <ion-col style="text-align: center;" size="4">
                                Fecha Entrega

                            </ion-col>

                            <ion-col style="text-align: center;" size="4">
                                Nota
                            </ion-col>

                            <ion-col style="text-align: center;" size="4">
                                acciones
                            </ion-col>

                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-list slot="content" *ngFor="let nCu of notasCu;index as i">

                    <ion-item *ngIf="nCu.id == id">
                        <ion-grid>
                            <ion-row>

                                <ion-col size="4">
                                    {{nCu.fechaEntrega}}

                                </ion-col>
                                <ion-col style="text-align: center;" size="4">
                                    {{nCu.notaCu.toFixed(2)}}
                                </ion-col>
                         

                                <ion-col size="4">

                                    <ion-buttons style="display: flex; flex-direction: row;">
                                        <ion-button (click)="editNote(i,4)"><ion-icon style="width: 30px; height: 30px;"
                                            name="create-outline" id="open-edit-modal" ></ion-icon></ion-button>
                                    <ion-button (click)="eliminar(i,4)"><ion-icon style="color:red; width: 30px; height: 30px;"
                                            name="trash-outline"></ion-icon></ion-button>


                                    </ion-buttons>

                                </ion-col>

                            </ion-row>
                            <ion-row class="description-row">
                                <ion-row>
                                    <ion-col size="12">
                                        descripcion:
                                    </ion-col>
                                </ion-row>
                                <ion-col size="12">
                                    <div class="description-container">
                                        <p class="full-description">{{nCu.descripcionNota}}</p>
                                    </div>
                                </ion-col>

                            </ion-row>
                        </ion-grid>
                    </ion-item>

                </ion-list>


                <ion-buttons slot="content"
                    style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
                    <div>Nota : {{promedioCu}}</div>
                    <ion-button (click)="addNote(4)" fill="solid" color="medium">añadir nota</ion-button>
                </ion-buttons>



            </ion-accordion>
        </ion-accordion-group>


        <ion-modal #crearNota trigger="open-modal-crearNota">
            <ng-template>
                <ion-header>
                    <ion-toolbar>
                        <ion-buttons slot="start">
                            <ion-button (click)="cancel()">Cancel</ion-button>
                        </ion-buttons>
                        <ion-title>Crear nota</ion-title>

                    </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                    <form (ngSubmit)="crear()" [formGroup]="notaForm">
                        <ion-list [inset]="true">
                            <ion-item>
                                <ion-input color="red" label="Fecha Entrega" placeholder="Fecha Entrega" type="date"
                                    formControlName="fechaEntrega"></ion-input>
                                <ion-icon style="color: red;text-align: right;"
                                    *ngIf="notaForm.get('fechaEntrega')?.getError('required')"
                                    name="alert-circle-outline"></ion-icon>
                            </ion-item>
                            <ion-item>
                                <ion-textarea labelPlacement="stacked" color="red" label="descripcion"
                                    placeholder="descripcion" type="text"
                                    formControlName="descripcionNota"></ion-textarea>
                                <ion-icon style="color: red;text-align: right;"
                                    *ngIf="notaForm.get('descripcionNota')?.getError('required')"
                                    name="alert-circle-outline"></ion-icon>

                            </ion-item>
                            <ion-item>
                                <ion-input color="red" label="nota" placeholder="nota" type="number"
                                    formControlName="nota"></ion-input>
                                <ion-icon style="color: red;text-align: right;"
                                    *ngIf="notaForm.get('nota')?.getError('min')"
                                    name="alert-circle-outline"></ion-icon>
                            </ion-item>
                            <ion-item style="color: red;text-align: right;"
                                *ngIf="notaForm.get('nota')?.getError('min')">
                                <p>la nota debe ser mayor a 0</p>
                            </ion-item>
                            <ion-item style="color: red;text-align: right;"
                                *ngIf="notaForm.get('nota')?.getError('max')">
                                <p>la nota debe ser menor a 5</p>
                            </ion-item>
                            <ion-item>
                                <ion-textarea labelPlacement="stacked" color="red" label="observaciones"
                                    placeholder="observaciones" type="text"
                                    formControlName="observacionesNota"></ion-textarea>
                                <!-- <ion-icon style="color: red;text-align: right;"></ion-icon> -->

                            </ion-item>
                            <ion-item style="justify-content: end;">
                                <ion-buttons slot="end">
                                    <ion-button type="submit" [disabled]="notaForm.invalid">Crear nota</ion-button>
                                </ion-buttons>
                            </ion-item>
                        </ion-list>
                    </form>
                </ion-content>

            </ng-template>
        </ion-modal>

    <!-- modal-editar -->
    <ion-modal #editModalNota trigger="open-edit-modal">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-button (click)="cancelEditar()">Cancel</ion-button>
                    </ion-buttons>
                    <ion-title>Modificar nota</ion-title>

                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
                <form (ngSubmit)="editar()" [formGroup]="notaForm">
                    <ion-list [inset]="true">
                        <ion-item>
                            <ion-input color="red" label="Fecha Entrega" placeholder="Fecha Entrega" type="date"
                                formControlName="fechaEntrega"></ion-input>
                            <ion-icon style="color: red;text-align: right;"
                                *ngIf="notaForm.get('fechaEntrega')?.getError('required')"
                                name="alert-circle-outline"></ion-icon>
                        </ion-item>
                        <ion-item>
                            <ion-textarea labelPlacement="stacked" color="red" label="descripcion"
                                placeholder="descripcion" type="text"
                                formControlName="descripcionNota"></ion-textarea>
                            <ion-icon style="color: red;text-align: right;"
                                *ngIf="notaForm.get('descripcionNota')?.getError('required')"
                                name="alert-circle-outline"></ion-icon>

                        </ion-item>
                        <ion-item>
                            <ion-input color="red" label="nota" placeholder="nota" type="number"
                                formControlName="nota"></ion-input>
                            <ion-icon style="color: red;text-align: right;"
                                *ngIf="notaForm.get('nota')?.getError('min')"
                                name="alert-circle-outline"></ion-icon>
                        </ion-item>
                        <ion-item style="color: red;text-align: right;"
                            *ngIf="notaForm.get('nota')?.getError('min')">
                            <p>la nota debe ser mayor a 0</p>
                        </ion-item>
                        <ion-item style="color: red;text-align: right;"
                            *ngIf="notaForm.get('nota')?.getError('max')">
                            <p>la nota debe ser menor a 5</p>
                        </ion-item>
                        <ion-item>
                            <ion-textarea labelPlacement="stacked" color="red" label="observaciones"
                                placeholder="observaciones" type="text"
                                formControlName="observacionesNota"></ion-textarea>
                            <!-- <ion-icon style="color: red;text-align: right;"></ion-icon> -->

                        </ion-item>
                        <ion-item style="justify-content: end;">
                            <ion-buttons slot="end">
                                <ion-button type="submit" [disabled]="notaForm.invalid">Modificar nota</ion-button>
                            </ion-buttons>
                        </ion-item>
                    </ion-list>
                </form>
            </ion-content>

        </ng-template>
    </ion-modal>  
    

    <!-- modal-crear-materia -->
    <ion-modal #crearMateriaModal trigger="open-modal">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-button (click)="cancelCrearMateria()">Cancel</ion-button>
                    </ion-buttons>
                    <ion-title>Formulario crear materia</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
                <form (ngSubmit)="crearMateria()" [formGroup]="materiaForm">
                    <ion-list [inset]="true">
                        <ion-item>
                          <ion-input color="red" label="Nombre" placeholder="nombre Materia" type="text"
                            formControlName="nombreMateria"></ion-input>
                          <ion-icon style="color: red;text-align: right;"
                            *ngIf="materiaForm.get('nombreMateria')?.getError('required')" name="alert-circle-outline"></ion-icon>
          
                        </ion-item>
                        <ion-item>
                          <ion-input label="semestreMat" placeholder="semestreMat" type="number"
                            formControlName="semestreMat"></ion-input>
                            <ion-icon style="color: red;text-align: right;"
                            *ngIf="materiaForm.get('semestreMat')?.getError('required')" name="alert-circle-outline"></ion-icon>
                            
                            <ion-icon  style="color: red;text-align: right;"
                            *ngIf="materiaForm.get('semestreMat')?.getError('min')" name="alert-circle-outline"></ion-icon>
                          </ion-item>
                          <!--validacion semestre-->
                          <ion-item style="color: red;text-align: right;" *ngIf="materiaForm.get('semestreMat')?.getError('min')">
                            <p>El semestre debe ser mayor a 0</p>
                          </ion-item>
          
                        <ion-item>
                          <ion-input label="Codigo" placeholder="Codigo Materia" type="number"
                            formControlName="codigoMateria"></ion-input>
                            <ion-icon style="color: red;text-align: right;"
                            *ngIf="materiaForm.get('codigoMateria')?.getError('required')" name="alert-circle-outline"></ion-icon>
                        </ion-item>
                        <ion-item>
                          <ion-input label="Horario" placeholder="Horario" type="text"
                            formControlName="horarioMateria"></ion-input>
                            <ion-icon style="color: red;text-align: right;"
                            *ngIf="materiaForm.get('horarioMateria')?.getError('required')" name="alert-circle-outline"></ion-icon>
                        </ion-item>
                        <ion-item>
                          <ion-textarea label="Observaciones" labelPlacement="stacked" placeholder="Observaciones" formControlName="observacionesMateria"></ion-textarea>
                          <ion-icon style="color: red;text-align: right;"
                          *ngIf="materiaForm.get('observacionesMateria')?.getError('required')" name="alert-circle-outline"></ion-icon>
                        </ion-item>
                        <ion-item>
                          <ion-buttons slot="end">
                            <ion-button type="submit" [disabled]="materiaForm.invalid" expand="block">CREAR</ion-button>
                          </ion-buttons>
                        </ion-item>
                    
                      </ion-list>
                </form>
            </ion-content>
        </ng-template>
    </ion-modal>
</ion-content>
</div>